# Maven
/backend/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
/backend/.idea/
*.iml
*.iws
out/

# Logs
/backend/logs/
*.log

# Sistema
.DS_Store
Thumbs.db
/init_db.sh
